<nav class="navbar is-warning">
  <ul class="container is-flex">
    <li class="nav-item">
      <a class="button button-small" aria-current="page" routerLink="">HOME</a>
    </li>
    <li class="nav-item">
      <a class="button is-secondary" aria-current="page" routerLink="signup">SIGN UP</a>
    </li>
    <li class="nav-item">
      <a class="button" aria-current="page" routerLink="writeus">SEND US FEEDBACK</a>
    </li>
    <!-- solo uno de estos dos se muestra si esta o no logeado -->
    <li class="nav-item">
      <a class="button is-outlined" aria-current="page" routerLink="login" *ngIf="!userLogin">LOGIN</a>
      <a class="button is-danger" aria-current="page" routerLink="login" *ngIf="userLogin" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
</nav>

<style>
  .navbar .container {
    padding: 2rem 1rem .5rem;
    gap: .5rem;
  }

  li:nth-child(2) {
    margin-left: auto;
  }
</style>