<!-- agregamos #referencia="ngModel" para poder hacer validaciones -->

<style>
  form {
    max-width: 30rem;
    margin-inline: auto;
  }
</style>
<div class="grid">

  <section class="container is-narrow">
    <form #formulario="ngForm">

      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="usuario.firstname" name="firstname" id="firstname" #firstname="ngModel" ngClass="{'is-success':firstname?.valid}">
        </div>
        <p class="help is-danger" *ngIf=" firstname?.dirty && firstname?.invalid">First name is required</p>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="usuario.username" name="username" id="username" #username="ngModel">
        </div>
        <p class="help is-danger" *ngIf=" username?.dirty && username?.invalid">Username is not valid</p>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" [(ngModel)]="usuario.email" name="email" id="email" #email="ngModel">
          <p class="help is-danger" *ngIf="email?.dirty && email?.invalid">This email is not valid</p>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox">
              I agree to the <a href="#">terms and conditions</a>
            </label>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" (click)="Enviar()" [disabled]="formulario.invalid">SIGNUP</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" (click)="Cancelar()">CANCEL</button>
          </div>
        </div>

      </div>
    </form>
  </section>
</div>